<section id="team">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">인문대 요구안</h2>
                    <!--<h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>-->
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin1.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin2.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin3.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin4.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin5.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin6.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin7.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin8.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="<%= image_path 'in/inin9.jpg'%>" class="img-responsive" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>