
<div align="center" style="margin: 100px;">
  <h2>Log in</h2>
  <h3>동덕 학생총회</h3>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div style="padding: 20px;">
    <div class="field">
      <%= f.label :email %><br /><br>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
  <div style="padding: 20px;">
    <div class="field">
      <%= f.label :password %><br /><br>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions">
   <button style="background-color: rgba(255, 185, 20 , 0.3); margin: 25px; test-align: center;
                  border-radius: 50px 50px 50px 50px; height: 40px; width: 80px;"><% f.submit "Log in" %>LOGIN</button>
  </div>
<% end %>
<button style="background-color: rgba(255, 255, 255 , 0.2);test-align: center;
                  border-radius: 50px 50px 50px 50px; height: 40px; width: 80px; color; #E7E7E7;">
<%= render "devise/shared/links" %></button>
</div>